<div class="container" *ngIf="user">
  <h1 class="container-heading">Transaction</h1>
  <div class="category-container">
    <div class="category-select" *ngIf="!needCategory && buttonClicked">
      <label for="category">Select a category:</label>
      <select
        id="category"
        [(ngModel)]="selectedCategory"
        name="selectedCategory"
      >
        <option value="" disabled selected>Select a category</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div *ngIf="!buttonClicked">
      <app-yes-no-buttons
        [question]="'Do you want to add a new category?'"
        [yesLabel]="'Yes?'"
        [noLabel]="'No?'"
        (answer)="setCategoryChoice($event)"
      />
    </div>

    <form
      class="category-form"
      (ngSubmit)="onSubmit()"
      #categoryForm="ngForm"
      *ngIf="needCategory && buttonClicked"
    >
      <label for="name">Category Name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Name"
        [(ngModel)]="newCategory.name"
      />

      <label for="income">Is this income?</label>
      <input
        type="checkbox"
        id="income"
        name="isIncome"
        [(ngModel)]="newCategory.isIncome"
      />

      <button type="submit" class="btn category-submit">Submit</button>
    </form>
  </div>
</div>

<app-not-logged-in [user]="user" [heading]="'Transactions'"></app-not-logged-in>
