<div class="heading">
  <h1>Take control of your finances with Budget Pro</h1>
  <p>Simple budgeting for P and S</p>
</div>

<div class="features">
  <h2>Why Budget Pro?</h2>
  <div class="feature-list">
    <div class="feature-card">
      <h3>Set up Budgets</h3>
      <p>Create limits for monthly or yearly spending</p>
    </div>
    <div class="feature-card">
      <h3>Track Spending</h3>
      <p>See where your money goes with expense tracking</p>
    </div>
    <div class="feature-card">
      <h3>Set Savings Goals</h3>
      <p>Create and monitor goals to stay motivated and save faster.</p>
    </div>
  </div>
</div>

<div class="features" *ngIf="user">
  <h2>Display user info here once it is ready</h2>
  <div class=>
    <h3>Budget for current month</h3>
    <p>You have spent blank out of blank for current month</p>
  </div>
</div>
